body {
    font-family: 'Metal Mania', cursive;
    color: antiquewhite;
    background-color: black;    
}
.gif, .submit {
margin: 5px;
padding: 5px;
color:goldenrod;
background-color:  black

}

.float-left {
    border-width: 2px;
    border-color: antiquewhite;
    margin: 5px;
}